@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
.About {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    font-family: Pretendard-regular;
}
.About h2 {
    text-align: center;
    padding: 60px;
    text-decoration: underline;
}
  .Masthead {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .Masthead img {
    width: 200px;
  }
  .MastheadTitle {
    font-weight: 400;
    font-size: 46px;
    word-break: keep-all;
    
  }
  .MastheadTitle span {
    font-weight: bold;
  }
  .MastheadTitle div {
    margin-top: 10px;
    font-size: 40px;
  }
  .MastheadDivider {
    width: 60px;
    height: 0;
    margin: 25px auto;
    border: none;
    border-top: 3px solid burlywood;
    opacity: 1;
  }
  .MastheadDescription {
    margin: 0 auto 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
  }
  .AboutMeContent {
    width: 100%;
    max-width: 1200px;
    padding: 5px 40px 40px 40px;
    margin: 0 auto;
  }
  .AboutMeInfos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .AboutMeInfo {
    width: 33.3333%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .AboutMeInfoLi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    opacity: 0.8;
  }
  .AboutMe_icon_img {
    width: 35px;
    min-width: 35px;
    margin-top: 10px;
    margin-right: 40px;
  }
  .AboutMe_icon_img2 {
    width: 100%;
  }
  .AboutMe_field_label {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
  }
  .AboutMe_field_value {
    font-weight: 400;
    font-size: 18px;
  }
  .cer {
    text-align: center;
    margin-top: 45px;
    font-size: 18px;
  }
  .cer ul {
    margin-top: 20px;
  }
  .cer ul li {
    margin: 10px 0;
  }