@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
.About {
    /* height: 600px; */
    /* background-color: antiquewhite; */
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    font-family: Pretendard-regular;
}
.About h2 {
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}
.Masthead {
    position: relative;
  }
  .Masthead::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    z-index: -1;
  }
  .Masthead_content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .Masthead_content img {
    width: 200px;
  }
  .Masthead_title {
    font-family: Black Han Sans,sans-serif;
    font-weight: 400;
    font-size: 46px;
    word-break: keep-all;
    
  }
  .Masthead_title span {
    /* background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); */
    font-weight: bold;
  }
  .Masthead_title div {
    margin-top: 10px;
    font-size: 40px;
  }
  .Masthead_divider {
    width: 60px;
    height: 0;
    margin: 25px auto;
    border: none;
    border-top: 3px solid burlywood;
    opacity: 1;
  }
  .Masthead_description {
    margin: 0 auto 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
  }
  .AboutMe_content {
    width: 100%;
    max-width: 1200px;
    padding: 5px 40px 40px 40px;
    margin: 0 auto;
  }
  .AboutMe_basic_infos {
    display: flex;
    /* flex-wrap: row wrap; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .AboutMe_basic_info {
    width: 33.3333%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .AboutMe_basic_info_li {
    display: flex;
    /* flex-wrap: row nowrap; */
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    opacity: 0.8;
  }
  .AboutMe_icon_img {
    width: 35px;
    min-width: 35px;
    margin-top: 10px;
    margin-right: 40px;
  }
  .AboutMe_icon_img2 {
    width: 100%;
  }
  .AboutMe_field_label {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
  }
  .AboutMe_field_value {
    font-weight: 400;
    font-size: 18px;
  }
  .cer {
    text-align: center;
    margin-top: 45px;
    font-size: 18px;
  }
  .cer ul {
    margin-top: 20px;
  }
  .cer ul li {
    margin: 10px 0;
  }